* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5pc black;
}

ul,
ol,
li {
  list-style: none;
}

/* header */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header > nav > li > a > img {
  max-height: 60px;
}

header a:hover {
  color: #fd8721;
}
nav a {
	font-family: "Poppins", sans-serif;
}


/* main - hero section */
main > img {
  display: block;
  width: 100%;
}

main {
  position: relative;
}

main > div#hero-content {
  position: absolute;
  top: 30%;
  right: 8%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 5px black;
  padding: 2.5vw;
}
main > div#hero-content > p {
  margin-bottom: 10px;
}
main > div#hero-content > h1 {
  font-size: 45px;
}
main > div#hero-content > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

main button {
  margin: 10px 0;
  padding: 20px 40px;
  background-color: #fd7b0c;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.7px;
}

/* Section All Movies */
section#movies-list {
  text-align: center;
  margin-top: 50px;
}
section#movies-list h2 {
  font-size: 35px;
}

section#movies-list > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 50px;
}

.movie-card {
  flex: 1;
  text-align: center;
}

.movie-card > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.movie-card button {
  width: 100%;
  margin: 20px 0;
  padding: 20px 40px;
  background-color: #fd7b0c;
  color: white;
  letter-spacing: 0.7px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.movie-card > button.btn-secondary {
  background-color: #fff1e5;
  border: 1px solid #fd7b0c;
  color: #fd7b0c;
}

.btn-primary:hover {
  background-color: #fd8721;
  color: #fafafa;
}

/* Location */

section#location-section {
  background-color: #d7edff;
  padding: 0 30px 40px;
}

#location-section h2 {
  text-align: center;
  padding: 50px;
  font-size: 35px;
}
section#location-section > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
}

#contact-info {
  flex: 1;
  height: 600px;
  /*   padding: 40px; */
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
#contact-info > img {
  width: 200px;
}
#map {
  flex: 1;
	display: block;
	width: 100%;
	height: 600px;
	border-radius: 10px;
  z-index: 1;
  /* border: 1px solid red; */
}

/* #map img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
} */


#location { 
  height: 0;
padding: 0;
margin: 0;
}

/* footer */
footer {
  background-color: #100700;
   color: #fafafa;
   text-align: center;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer div {
  font-size: 30px;
  margin: 15px;
  width: 300px;
}
footer div a {
  margin: 30px;
}
footer div a:hover {
  color: #fd7b0c;
}

/* Movie Deatils Page */

/* navigation */
#details-page header, #purchase-page header {
  position: static;
  background-color: #000;
}

#details-page section {
  padding: 20px;
  /* background-color: magenta; */
}

#details-page section {
  display: flex;
  width: 1200px;
  margin: auto;
  gap: 20px;
  padding: 40px ;
}


div#movie-trailer {
  flex: 50%;
}

div#movie-trailer > div {
  margin: 20px 0 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #fff1e5;
  color: #fd7b0c;
}

div#movie-trailer > div span {
  color:#fd7b0c;
}

#movie-details {
  padding: 30px;
  flex:50%;
}

#movie-details > h1 {
  font-size: 40px;
  text-align: center;
}

.subtext {
  color:#fd7b0c;
  font-size: 15px;
  margin: 20px auto;
  line-height: 2;
  width: fit-content;
}
#movie-details p {
  text-align: justify;
}

/* movie showtimes section */
section#showtimes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d7edff;
}
section#showtimes > h1 {
  text-align: center;
}

#showtimes > div {
  width: max-content;
  margin:auto;
}

#showtimes > div > div {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.btn-date, .btn-show {
  padding: 8px 10px;
  background-color: transparent;
}

.btn-date {
  background-color: white;
  color: #fd7b0c;
  border: none;
  border-radius: 20px;
  padding: 8px 25px;
  font-weight: 700;
}

.btn-show {
  width: 100px;
  border: 1.8px dashed rgb(19, 183, 19);
  background-color: rgb(243, 251, 243);
  cursor: pointer;
}
#showtimes a {
  color: black;
}
.btn-show:hover {
  background-color: aquamarine;
}

[data-showtime="soldout"] {
  border: 2px dashed red;
  background-color: rgb(255, 232, 232);
}

[data-showtime="soldout"]:hover {
  background-color: lightslategrey;
  color: #fff;
  border: none;
}